.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.left-section {
  background-color: wheat;
  width: 200px;
  align-items: center;
  display: flex;
}

.hamburger-menu {
  height: 28px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 25px;
}
.middle-section {
  flex: 1;
  background-color: lightblue;
  margin-left: 300px;
  margin-right: 300px;
  max-width: 350px;
  align-items: center;
  display: flex;
}
.right-section {
  width: 200px;
  background-color: lightpink;
  align-items: center;
  display: flex;
}
