.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.left-section {
  width: 200px;
  align-items: center;
  display: flex;
}

.hamburger-menu {
  height: 28px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 25px;
}
.middle-section {
  flex: 1;
  margin-left: 300px;
  margin-right: 300px;
  max-width: 350px;
  align-items: center;
  display: flex;
}
.search-bar {
  flex: 1;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border-color: rgb(196, 193, 193);
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
}
.search-btn {
  height: 36px;
  width: 40px;
}

.voice-search-btn {
  height: 36px;
  width: 40px;
}
.right-section {
  width: 200px;
  background-color: lightpink;
  align-items: center;
  display: flex;
}
