.thumbnail {
  width: 300px;
  /* height: 300px;  we can't adjust the height as image will get out of shape */
  /* object-fit: cover; cover image with specipic height and adjust the height*/
  /* object-position: right; */
}
.search-bar {
  display: block;
}
.video-preview {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.channel-picture {
  display: inline-block;
  width: 50px;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.profile-picture{
  width: 50px;
}
